<app-layout>
  <h1 class="product-title">Ürün Listesi</h1>
  <div class="product-list">
    @for (item of combinedProduct$ | async; track $index) {
    <div class="product">
      <h3 class="product-name">{{ item.product.name }}</h3>
      <p class="product-info-item">Fiyat: {{ item.product.price }} TL</p>
      <p class="product-info-item">Stok: {{ item.product.stock }}</p>

      @if(item.isInCart) {
      <div class="quantity-controls">
        <button
          class="quantity-control"
          (click)="decrementQuantity(item.product.id)"
        >
          -
        </button>
        <span>{{ item.quantity }}</span>
        <button
          class="quantity-control"
          (click)="incrementQuantity(item.product.id)"
          [disabled]="item.product.stock === item.quantity"
          [class.disable]="item.product.stock === item.quantity"
        >
          +
        </button>
      </div>
      } @else {
      <button (click)="addToCart(item.product)" class="add-to-cart-button">
        Sepete Ekle
      </button>
      }
    </div>
    }
  </div>
</app-layout>
