@if(selectedProduct){
<div class="cart-item">
  <span>
    {{ item.name }} &nbsp;<span>x&nbsp;{{ item.quantity }}</span>
  </span>
  <p>{{ item.quantity * item.price }} TL</p>
  <div class="quantity-controls">
    <button (click)="decrementQuantity()">-</button>
    <span>{{ item ? item.quantity : 0 }}</span>
    <button
      class="quantity-control"
      (click)="incrementQuantity()"
      [disabled]="item.quantity === selectedProduct.stock"
      [class.disable]="item.quantity === selectedProduct.stock"
    >
      +
    </button>
  </div>
  <button class="remove-button" (click)="removeFromCart()">Sil</button>
</div>
}
